* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#timeline {
  height: 150px; /* Un poco más de espacio para los eventos */
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
}

#map {
  flex-grow: 1;
  width: 100%;
}

#chart-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

#disclaimer {
  font-size: 14px;
  padding: 5px;
  background: #eee;
  text-align: justify;
  border-bottom: 1px solid #ddd;
}